# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
venv/
ENV/
env/
.venv/
.venv/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# PyInstaller
*.spec
*.exe
*.dll
*.so
*.dylib

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Other files
*.pyo
*.pyd